*{
  padding: 0;
  margin: 0;
}

body{
  background: #1B8A59;
}

.parte1{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  min-height: 50px;
}

.developer{
  height: 20vh;
  float: left;
  min-height: 50px;
  max-height: auto;
  border-width: 3px;
  border-color: green;
  border-style: solid;
}

.developer img{
  width: auto;
  height: 100%;
}

.info{
  height: 20vh;
  float: left;
  background: white;
  min-height: 40px;
  margin-left: 3%;
  width: 65vw;
  border-width: 2px;
  border-color: green;
  border-style: solid;
}

.mainContainer{
  height: 84vh;
}

#developers{
  display: inline-block;
  height: 10vh;
  margin-bottom: 7%;
  margin-top: 7%;
    
}

@media screen and (max-width: 1000px){
  .info{
    margin-left: 65px;
    float: left;
    height: auto;
    position: absolute;
  }

  .developer{
    max-height: 50px;
  }

}

h1{
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
}

h2{
  font-size: 18px;
  margin-left: 10%;
}

 #tap:active{
    background-color: #666;
  }